@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

html {
	font-size: 16px;
}

body {
	font-family: 'Open Sans Condensed', Helvetica, sans-serif;
	color: rgb(90,90,90);
}

main {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	padding: 1rem 0;
}

h1 {
	font-size: 5rem;
	font-weight: 300;
	text-align: center;
	color: rgb(188,43,255);
}

h2 {
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}

.photos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2rem;
	height: 400px;
}

img {
	height: 100%;
}

@media only screen and (max-width: 900px) {
	.photos img {
		display: none;
	}

	.photos img:last-child {
		display: block;
	}
}

.video-container {
	height: 200px;
	padding: 2rem 2rem 0 2rem;
	display: flex;
	justify-content: center;
}

video {
	height: 100%;
	width: auto;
}

button {
	align-self: center;
	width: 5rem;
	padding: 0.5rem 0.25rem;
	margin: 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	background-color: rgba(188,43,255,0.7);
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

button:hover {
	background-color: rgb(188,43,255);
}

@media only screen and (max-width: 900px) {
	video {
		width: 250px;
		padding: 0;
	}
}

p {
	font-size: 1rem;
	font-weight: 300;
	text-align: left;
	line-height: 1.1rem;
}

footer {
	padding: 1rem;
	border-top: 1px solid rgb(180,180,180);
}

a, a:visited {
	text-decoration: none;
	color: rgb(188,43,255);
}

a:hover, a:active {
	text-decoration: underline;
}